{{ define "main" }}

    <!-- <h1>{{.Title}} </h1> -->
    <div class="home">
        <h3>Halo yang di sana! Selamat datang di halaman ini.</h3>    
        <p>Halaman ini memuat isi kepala seorang manusia <strong>tampan</strong> dan <strong>berani</strong> yang perlu dituangkan ke dalam media digital begini.</p>
        <img src="https://kaptenkentang.files.wordpress.com/2016/08/url.gif?w=364" title="selamat datang ngab.">
        <p>Semoga halaman ini bermanfaat bagi yang membutuhkan. Kalau <em>elu</em> ngerasa ini ga bermanfaat, berarti <em>elu-nya</em> ga membutuhkan. Kali aja orang lain membutuhkan <em>yekan?</em></p>
        <p>Ngomong apa dah <em>gua?</em></p>
        <p>Gpp yang penting ada interaksi satu arah ke pembaca <em>yekan?</em></p>
    </div>
{{ end }}